<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="main">
        <img src="https://i.imgur.com/iDxaR3O.png" height="50px" alt="" style="padding-top: 5px;">
    </a>
    <i id="search"><img src="https://i.imgur.com/P9fd36x.png" height="50px"></i>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="search-form">
            <form action="mainsearch" method="POST">
                <input type="text" name="mainsearch" placeholder="SEARCH">
            </form>
        </div>
        <ul class="navbar-nav mr-auto">

            <li class="nav-item ">
                <a class="nav-link" href="/new">NEW</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/popular">POPULAR</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/category">CATEGORY</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/aboutus">ABOUT US</a>
            </li>
        </ul>
        <a class="nav-link w" href="/signup">SIGN UP</a>
        <a class="nav-link " href="/login" id="log">LOG IN</a>
        <!-- <% //if(member){ %>
            <a class="nav-link" style="color: white" href="profile">Username</a>
            <a class="nav-link " href="logout" id="log">Logout</a>
        <% //} else { %>
            <a class="nav-link w" href="signup">SIGN UP</a>
            <a class="nav-link " href="login" id="log">LOG IN</a>
        <% //} %> -->
    </div>
</nav>