<% include ./partials/header %>
    <title>ECHOAX - About Us</title>
</head>
<body class="bgus">
    <% include ./partials/navbar %>
    <center><img src="https://i.imgur.com/3ZXqJR5.png" width="60%" style="margin:30px;"></center>
    <div class="w" style="font-size: 30px">
        <center>CREATED BY<br>MR.KANTACHAT JANYA<br>MR.SARATOON KHUNSANIT</center>
    </div>
    <div class="w" style="line-height: 1.5; font-size: 30px;">
        <center>THIS WEBSITE IS PART OF CSS227 WEB PROGRAMMING.<br>KING MONGKUT'S UNIVERSITY OF TECHNOLOGY THONBURI
        </center>
    </div>
<% include ./partials/footer %>