<% include ./partials/header %>
    <title>ECHOAX - Category</title>
</head>
<body background="https://i.imgur.com/gaFKvWi.png" class="bg">
    <% include ./partials/navbar %>
    <div id="headca">
        <center>CATEGORY</center>
    </div>

    <div class="row no-gutters">
        <div class="col-33">
            <a href="/fakenews"><img id="c1" src="https://i.imgur.com/N5Xm40C.jpg" style="width: 100%">
                <div class="centered w">
                    <center>FAKE NEWS</center>
                </div>
            </a>
        </div>
        <div class="col-33">
            <a href="/hoax"><img id="c2" src="https://i.imgur.com/RnK3ORD.jpg" style="width: 100%">
                <div class="centered w">
                    <center>HOAX</center>
                </div>
            </a>
        </div>
        <div class="col-33">
            <a href="/phishing"><img id="c3" src="https://i.imgur.com/TBu6Oc0.jpg" style="width: 100%">
                <div class="centered w">
                    <center>PHISHING</center>
                </div>
            </a>
        </div>
    </div>
<% include ./partials/footer %>