<% include ./partials/header %>
    <title><%= category %> - <%= subcategory %></title>
</head>
<% if(category==='fakenews'){ %> <body background="https://i.imgur.com/MjBOCeH.png" class="bg"> <% } else { %> <body background="https://i.imgur.com/ZnzXwZT.png" class="bg"> <% } %>
    <% include ./partials/navbar %>
    <!-- unfinished -->
<% include ./partials/footer %>