<% include ./partials/header %>
    <title>ECHOAX - New</title>
</head>
<body background="https://i.imgur.com/gaFKvWi.png" class="bg">
    <% include ./partials/navbar %>
    <div class="container-fluid" style="padding:0%">
        <img src="https://i.imgur.com/Fw7fQdq.png" style="width:100%">
    </div>
    <div class="container-fluid">
        <div id="headn">FAKE NEWS</div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-33card">
                <div class="card backp">
                    <img src="https://i.imgur.com/hHQOHIb.jpg" alt="headpic" style="width:100%">
                    <div class="container">
                        <div class="ntopic">TOPIC1</div>
                        <div class="ndes">DESCRIPTION OF TOPIC1</div>
                        <div class="ndt">BY ADMIN</div>
                        <div class="ndt">POSTED 00 XXXXXXXXX 0000</div>
                        <div style="float: right;"><input type="button" name="vote" value="YES"> 00000 <input
                                type="button" name="vote" value="NO"> 00000 </div>
                    </div>
                </div>
            </div>
            <div class="col-33card">
                <div class="card backp">
                    <img src="https://i.imgur.com/hHQOHIb.jpg" alt="headpic" style="width:100%">
                    <div class="container">
                        <div class="ntopic">TOPIC1</div>
                        <div class="ndes">DESCRIPTION OF TOPIC1</div>
                        <div class="ndt">BY ADMIN</div>
                        <div class="ndt">POSTED 00 XXXXXXXXX 0000</div>
                        <div style="float: right;"><input type="button" name="vote" value="YES"> 00000 <input
                                type="button" name="vote" value="NO"> 00000 </div>
                    </div>
                </div>
            </div>
            <div class="col-33card">
                <div class="card backp">
                    <img src="https://i.imgur.com/hHQOHIb.jpg" alt="headpic" style="width:100%">
                    <div class="container">
                        <div class="ntopic">TOPIC1</div>
                        <div class="ndes">DESCRIPTION OF TOPIC1</div>
                        <div class="ndt">BY ADMIN</div>
                        <div class="ndt">POSTED 00 XXXXXXXXX 0000</div>
                        <div style="float: right;"><input type="button" name="vote" value="YES"> 00000 <input
                                type="button" name="vote" value="NO"> 00000 </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="headn">HOAX</div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-33card">
                <div class="card backhoax">
                    <img src="https://i.imgur.com/hHQOHIb.jpg" alt="headpic" style="width:100%">
                    <div class="container">
                        <div class="ntopic">TOPIC1</div>
                        <div class="ndes">DESCRIPTION OF TOPIC1</div>
                        <div class="ndt">BY ADMIN</div>
                        <div class="ndt">POSTED 00 XXXXXXXXX 0000</div>
                        <div style="float: right;"><input type="button" name="vote" value="YES"> 00000 <input
                                type="button" name="vote" value="NO"> 00000 </div>
                    </div>
                </div>
            </div>
            <div class="col-33card">
                <div class="card backhoax">
                    <img src="https://i.imgur.com/hHQOHIb.jpg" alt="headpic" style="width:100%">
                    <div class="container">
                        <div class="ntopic">TOPIC1</div>
                        <div class="ndes">DESCRIPTION OF TOPIC1</div>
                        <div class="ndt">BY ADMIN</div>
                        <div class="ndt">POSTED 00 XXXXXXXXX 0000</div>
                        <div style="float: right;"><input type="button" name="vote" value="YES"> 00000 <input
                                type="button" name="vote" value="NO"> 00000 </div>
                    </div>
                </div>
            </div>
            <div class="col-33card">
                <div class="card backhoax">
                    <img src="https://i.imgur.com/hHQOHIb.jpg" alt="headpic" style="width:100%">
                    <div class="container">
                        <div class="ntopic">TOPIC1</div>
                        <div class="ndes">DESCRIPTION OF TOPIC1</div>
                        <div class="ndt">BY ADMIN</div>
                        <div class="ndt">POSTED 00 XXXXXXXXX 0000</div>
                        <div style="float: right;"><input type="button" name="vote" value="YES"> 00000 <input
                                type="button" name="vote" value="NO"> 00000 </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div id="headn">PHISHING</div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-33card">
                <div class="card backphish">
                    <img src="https://i.imgur.com/hHQOHIb.jpg" alt="headpic" style="width:100%">
                    <div class="container">
                        <div class="ntopic">TOPIC1</div>
                        <div class="ndes">DESCRIPTION OF TOPIC1</div>
                        <div class="ndt">BY ADMIN</div>
                        <div class="ndt">POSTED 00 XXXXXXXXX 0000</div>
                        <div style="float: right;"><input type="button" name="vote" value="YES"> 00000 <input
                                type="button" name="vote" value="NO"> 00000 </div>
                    </div>
                </div>
            </div>
            <div class="col-33card">
                <div class="card backphish">
                    <img src="https://i.imgur.com/hHQOHIb.jpg" alt="headpic" style="width:100%">
                    <div class="container">
                        <div class="ntopic">TOPIC1</div>
                        <div class="ndes">DESCRIPTION OF TOPIC1</div>
                        <div class="ndt">BY ADMIN</div>
                        <div class="ndt">POSTED 00 XXXXXXXXX 0000</div>
                        <div style="float: right;"><input type="button" name="vote" value="YES"> 00000 <input
                                type="button" name="vote" value="NO"> 00000 </div>
                    </div>
                </div>
            </div>
            <div class="col-33card">
                <div class="card backphish">
                    <img src="https://i.imgur.com/hHQOHIb.jpg" alt="headpic" style="width:100%">
                    <div class="container">
                        <div class="ntopic">TOPIC1</div>
                        <div class="ndes">DESCRIPTION OF TOPIC1</div>
                        <div class="ndt">BY ADMIN</div>
                        <div class="ndt">POSTED 00 XXXXXXXXX 0000</div>
                        <div style="float: right;"><input type="button" name="vote" value="YES"> 00000 <input
                                type="button" name="vote" value="NO"> 00000 </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include ./partials/footer %>