<% include ./partials/header %>
    <title>Not Found!!</title>
</head>
<body background="https://i.imgur.com/Fg7WsNm.png" class="bg">
    <% include ./partials/navbar %>
    <h1>Not FOund!!</h1>
<% include ./partials/footer %>