<% include ./partials/header %>
    <title>test</title>
</head>
<body background="https://i.imgur.com/TniTm3s.png" class="bg">
    <% include ./partials/navbar %>
    <h1><%= member %></h1>
    <a class="nav-link " href="logout" id="log">LOG OUT</a>
<% include ./partials/footer %>