<% include ./partials/header %>
    <title>(ADMIN)USER's ECHO</title>
</head>
<body background="https://i.imgur.com/MjBOCeH.png" class="bg">
    <% include ./partials/navbar %>
    <div class="w" style="font-size: 50px;">
        <center>Username'S ECHO</center>
    </div>
    <div class="container" style="width: 90%">
        <div class="row">
            <div class="col-50">
                <div class="w" style="font-size: 30px;">
                    <center>PICTURE</center>
                </div>
                <center><img src="https://i.imgur.com/hHQOHIb.jpg" width="100%" style="padding-top: 50px"></center>
            </div>
            <div class="col-50" style="background-color: #2e2e2e;">
                <div class="container" style="padding:30px;">
                    <div class="row w">
                        <div class="col-30u">
                            TOPIC
                        </div>
                        <div class="col-70u ">
                            Topic1
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-30u w">
                            CATEGORY
                        </div>
                        <div class="col-70u">
                            <x style="color: #b1b1ff;"> FAKE NEWS </x>
                            <x class="w"> POLITICS</x>
                        </div>
                    </div>
                    <div class="row w">
                        <div class="col-30u w">
                            DESCRIPTION
                        </div>
                    </div>
                    <p id="usernews" class="w">
                        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                    </p>
                    <div class="row">
                        <div class="col-30u w">
                            REFERNENCE
                        </div>
                        <div class="col-70u w">
                            www.xxxxxxxx.com
                        </div>
                    </div>
                    <center style="padding-top: 10px;">
                        <button class="greenbtn w">ACCEPT</button>
                        <button class="redbtn w">DELETE</button>
                        <button class="yelbtn">BACK</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    </div>
<% include ./partials/footer %>